# Ne pas versionner les fichiers de données
data/*
!data/.gitkeep

output/*
!output/.gitkeep

Rapport/*
!Rapport/.gitkeep

# Fichiers Excel
*.xlsx
*.csv
*.docx

# Fichiers temporaires
.ipynb_checkpoints/
.Rhistory
.Rproj.user
